x-media-icon {
  background: white;
  border: 1px solid #CCC;
  border-radius: 3px;
  display: inline-block;
  margin: 6px;
  padding: 3px;
}

x-media-icon div.SS{
  color: green;
}

x-media-icon div.F{
  color: gold;
}
